{% extends 'base.html' %}
{% block content %}

<header id="about_head" class="text-light">
    <div class="dark-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pt-5 m-auto text-center ">
          <h1>About Us</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, cum!</p>
        </div>
      </div>
    </div>
    </div>
  </header>
  <section id="ab_sec1" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>What We Do</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, beatae quia quo maxime fugiat, assumenda excepturi, alias sunt laboriosam ullam ratione sit molestiae neque debitis. Quos totam architecto, numquam aliquam ullam consequuntur pariatur eum deserunt odit quod, aut vel id placeat autem, doloribus ipsam temporibus! Omnis ullam hic ipsam maxime? </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, beatae quia quo maxime fugiat, assumenda excepturi, alias sunt laboriosam ullam ratione sit molestiae neque debitis. Quos totam architecto, numquam aliquam ullam consequuntur pariatur eum deserunt odit quod, aut vel id placeat autem, doloribus ipsam temporibus! Omnis ullam hic ipsam maxime? </p>
      </div>
      <div class="col-md-6 ">
        <img src="https://source.unsplash.com/random/700x700/?travel" class="img-fluid rounded-circle d-none d-sm-block abt-img" alt="">
      </div>
    </div>
  </div>
  </section>
  <section id="abt_sec2">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-2">
          <div class="card bg-main-f text-white text-center">
            <div class="card-body">
              <i class="fas fa-building fa-3x"></i>
              <h3 class="pt-3">Our Organization</h3>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, illo.
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="card bg-main-s text-white text-center">
            <div class="card-body">
              <i class="fas fa-bullhorn fa-3x"></i>
              <h3 class="pt-3">Our Announcments</h3>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, illo.
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="card bg-main-f text-white text-center">
            <div class="card-body">
              <i class="fas fa-comments fa-3x"></i>
              <h3 class="pt-3">Our Communications</h3>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, illo.
            </div>
          </div>
        </div>
   
      </div>
      <div class="row mb-4">
        <div class="col-md-4 mb-2">
          <div class="card bg-main-s text-white text-center">
            <div class="card-body">
              <i class="fas fa-map fa-3x"></i>
              <h3 class="pt-3">Get Your Trip Planed</h3>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, illo.
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="card bg-main-f text-white text-center">
            <div class="card-body">
              <i class="fas fa-credit-card fa-3x"></i>
              <h3 class="pt-3">Safe Payments</h3>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, illo.
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="card bg-main-s text-white text-center">
            <div class="card-body">
              <i class="fas fa-coffee fa-3x"></i>
              <h3 class="pt-3">Our Services</h3>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, illo.
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </section>
  <section class="bg-main-s text-light p-4">
  <div class="container">
    <h2 class="text-center">Testimonials</h2>
    <div class="row text-center">
      <div class="col">
        <div class="slider">
          <div>
            <blockquote class="blockquote">
              <p class="mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, assumenda!
              </p>
              <footer class="blockquote-footer text-light">john Doe From
                <cite title="Google">Google</cite>
              </footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote">
              <p class="mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, assumenda!
              </p>
              <footer class="blockquote-footer text-light">Will Smith From
                <cite title="Awards">Awards</cite>
              </footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote">
              <p class="mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, assumenda!
              </p>
              <footer class="blockquote-footer text-light">Megan williams From
                <cite title="Google">Microsoft</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  
{% endblock content %}