{% extends 'base.html' %}
{% block content %}
{% load static %}
<header id="about_head" class="text-light">
    <div class="dark-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto pt-5 text-center">
          <h1>Read Our Blog</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, cum!</p>
        </div>
      </div>
    </div>
    </div>
  </header>
  <section class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
            <div class="card">
              <img src="https://source.unsplash.com/random/700x700/?travel" alt="" class="img-fluid card-img-top">
              <div class="card-body">
                <h4 class="card-title">
                 Blog Post One
                </h4>
                <small>written by Jeffry Morgan on 5/20</small><hr>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptatem, quasi expedita illum possimus nostrum omnis. Minima exercitationem incidunt veritatis tempore sed ex enim voluptatum deleniti! Praesentium odio quo natus.</p>
              </div>
            </div>
            <div class="card p-3  mt-4">
              <blockquote class="card-blockquote card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis earum sit libero, nihil expedita accusantium et officia temporibus amet veniam.</p>
                <footer class="blockquote-footer">
                  <small class="text-muted">Basel Al-Qatarneh <cite title="vanilla Club House">vanilla Club House</cite></small>
                </footer>
              </blockquote>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://source.unsplash.com/random/702x702/?travel" alt="" class="img-fluid card-img-top">
          <div class="card-body">
            <h4 class="card-title">
             Blog Post Two
            </h4>
            <small>written by Rick Grimes on 7/19</small><hr>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptatem, quasi expedita illum possimus nostrum omnis. Minima exercitationem incidunt veritatis tempore sed ex enim voluptatum deleniti! Praesentium odio quo natus.</p>
          </div>
        </div>
        <div class="card p-3  mt-4">
          <blockquote class="card-blockquote card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis earum sit libero, nihil expedita accusantium et officia temporibus amet veniam.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">Daryle Dixson <cite title="MC">MC</cite></small>
            </footer>
          </blockquote>
      </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="https://source.unsplash.com/random/701x701/?travel" alt="" class="img-fluid card-img-top">
      <div class="card-body">
        <h4 class="card-title">
         Blog Post Three
        </h4>
        <small>written by mikasa ackraman on 9/22</small><hr>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptatem, quasi expedita illum possimus nostrum omnis. Minima exercitationem incidunt veritatis tempore sed ex enim voluptatum deleniti! Praesentium odio quo natus.</p>
      </div>
    </div>
    <div class="card p-3 mt-4">
      <blockquote class="card-blockquote card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis earum sit libero, nihil expedita accusantium et officia temporibus amet veniam.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">Charles Xavior <cite title="x-men Facility">x-men Facility</cite></small>
        </footer>
      </blockquote>
  </div>
  </div>
    </div>
    </div>
  </section>
{% endblock content %}