{% extends 'base.html' %}
{% block content %}
{% load static %}

<header id="about_head" class="text-light">
    <div class="dark-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pt-5 m-auto text-center">
          <h1>Our Services</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, cum!</p>
        </div>
      </div>
      </div>
    </div>
  </header>
  <section class="py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 text-center">
          <div class="card mb-5">
            <div class="card-header bg-dark">
              <h1 class="text-light">Basic Service</h1>
            </div>
              <div class="card-body">
                <h4 class="card-title">$59.99/Month</h4>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, nesciunt.</p>
               <ul class="list-group">
                 <li class="list-group-item">
                   <i class="fas fa-check mr-3"></i>Feature 1
                 </li>
                 <li class="list-group-item">
                  <i class="fas fa-check mr-3"></i>Feature 2
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check mr-3"></i>Feature 3
                </li>
               </ul>
                <a href="#" class="btn btn-danger btn-block mt-3">Get it Now</a>
              </div>
              <div class="card-footer">
                1 Year Plan
              </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card mb-5">
            <div class="card-header bg-dark">
              <h1 class="text-light">Premuim Service</h1>
            </div>
              <div class="card-body">
                <h4 class="card-title">$119.99/Month</h4>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, nesciunt.</p>
               <ul class="list-group">
                 <li class="list-group-item">
                   <i class="fas fa-check mr-3"></i>Feature 1
                 </li>
                 <li class="list-group-item">
                  <i class="fas fa-check mr-3"></i>Feature 2
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check mr-3"></i>Feature 3
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check mr-3"></i>Feature 4
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check mr-3"></i>Feature 5
                </li> <li class="list-group-item">
                  <i class="fas fa-check mr-3"></i>Feature 6
                </li> <li class="list-group-item">
                  <i class="fas fa-check mr-3"></i>Feature 7
                </li>
               </ul>
                <a href="#" class="btn btn-danger btn-block mt-3">Get it Now</a>
              </div>
              <div class="card-footer">
                1 Year Plan
              </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card mb-5">
            <div class="card-header bg-dark">
              <h1 class="text-light">Plus Service</h1>
            </div>
              <div class="card-body">
                <h4 class="card-title">$99.99/Month</h4>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, nesciunt.</p>
               <ul class="list-group">
                 <li class="list-group-item">
                   <i class="fas fa-check mr-3"></i>Feature 1
                 </li>
                 <li class="list-group-item">
                  <i class="fas fa-check mr-3"></i>Feature 2
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check mr-3"></i>Feature 3
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check mr-3"></i>Feature 4
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check mr-3"></i>Feature 5
                </li>
               </ul>
                <a href="#" class="btn btn-danger btn-block mt-3">Get it Now</a>
              </div>
              <div class="card-footer">
                1 Year Plan
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="p-5 bg-main-f text-light">
  <div class="container">
    <h1 class="text-center">Frequently Asked Questions</h1><hr>
    <div class="row text-center">
      <div class="col-md-6">
        <div id="#accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a href="#collapseOne" class="text-dark" data-toggle="collapse" data-parent="accordion">
                  Question one
                </a>
              </h5>
            </div>
            <div id="collapseOne" class="collapse text-dark p-4">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum ullam adipisci vel. Aliquam at magni impedit nostrum officiis iste similique reiciendis harum asperiores inventore ipsa voluptatibus doloremque quas sit hic est quo tempora omnis, veniam quos, fugiat, repudiandae quia fugit?
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a href="#collapse2" class="text-dark" data-toggle="collapse" data-parent="accordion">
                  Question two
                </a>
              </h5>
            </div>
            <div id="collapse2" class="collapse text-dark p-4">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum ullam adipisci vel. Aliquam at magni impedit nostrum officiis iste similique reiciendis harum asperiores inventore ipsa voluptatibus doloremque quas sit hic est quo tempora omnis, veniam quos, fugiat, repudiandae quia fugit?
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a href="#collapse3" class="text-dark" data-toggle="collapse" data-parent="accordion">
                  Question three
                </a>
              </h5>
            </div>
            <div id="collapse3" class="collapse text-dark p-4">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum ullam adipisci vel. Aliquam at magni impedit nostrum officiis iste similique reiciendis harum asperiores inventore ipsa voluptatibus doloremque quas sit hic est quo tempora omnis, veniam quos, fugiat, repudiandae quia fugit?
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div id="#accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a href="#collapse4" class="text-dark" data-toggle="collapse" data-parent="accordion">
                  Question four
                </a>
              </h5>
            </div>
            <div id="collapse4" class="collapse text-dark p-4">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum ullam adipisci vel. Aliquam at magni impedit nostrum officiis iste similique reiciendis harum asperiores inventore ipsa voluptatibus doloremque quas sit hic est quo tempora omnis, veniam quos, fugiat, repudiandae quia fugit?
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a href="#collapse5" class="text-dark" data-toggle="collapse" data-parent="accordion">
                  Question five
                </a>
              </h5>
            </div>
            <div id="collapse5" class="collapse text-dark p-4">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum ullam adipisci vel. Aliquam at magni impedit nostrum officiis iste similique reiciendis harum asperiores inventore ipsa voluptatibus doloremque quas sit hic est quo tempora omnis, veniam quos, fugiat, repudiandae quia fugit?
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a href="#collapse6" class="text-dark" data-toggle="collapse" data-parent="accordion">
                  Question six
                </a>
              </h5>
            </div>
            <div id="collapse6" class="collapse text-dark p-4">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum ullam adipisci vel. Aliquam at magni impedit nostrum officiis iste similique reiciendis harum asperiores inventore ipsa voluptatibus doloremque quas sit hic est quo tempora omnis, veniam quos, fugiat, repudiandae quia fugit?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

{% endblock content %}